# Project
COMPOSE_PROJECT_NAME=deus

# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=deus
POSTGRES_USER=deus
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=database
POSTGRES_PORT=5432

# Frontend
NEXT_PUBLIC_API_URL=http://localhost/api